.article-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    max-width: max-content !important;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.article-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #29354C;
    border-radius: 5px;
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Assure que le contenu est bien réparti */
    height: 100%; /* Permet de remplir l’espace */
}


.card-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
   
}

.card-content {
    padding: 10px 1em 1em 1em;
    background-color: #29354C;
    flex-grow: 1; /* Permet au contenu de prendre tout l’espace dispo */
    display: flex;
    flex-direction: column;
}
.card-title {
    margin: 0 0 10px;
}

.card-title a {
    color: #F7F1EB;
    text-decoration: none;
    font-size: 24px;
    margin-top: 10px !important;
    line-height: 20px;
}

.card-date {
    color: #F7F1EB;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.card-excerpt {
    margin-bottom: 15px;
}

.card-excerpt{
    color: #F7F1EB;
}

.card-button-parent{
    margin-top: auto; /* Force le bouton à rester en bas */
    margin-bottom: 0 !important;
}

.card-button {
    display: block;
    background: #D4A373;
    color: #29354C;
    padding: 0px 35px;
    text-decoration: none;
    border-radius: 3px;
    float: right;
    margin-bottom: 20px;
    transition: background 0.3s ease, transform 0.2s ease;
}


.card-button:hover {
    background: #F7F1EB;
    transform: scale(1.05);
}

.card-button:hover {
    background: #F7F1EB;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.info-msg {
    text-align: center;
    color: #29354C;
}

.article-cards-grid{
    padding: 0px !important;
}

/* Sur desktop (>=768px) */
@media screen and (min-width: 768px) {
    .article-cards-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        max-width: 1200px !important;
    }

    .article-cards-grid{
        padding: 32px !important;
    }
}

p:empty {
    margin: 0;
    padding: 0;
}

.wp-container-core-group-is-layout-9 > * + *{
    margin-block-start: 0 !important; 
}